{{ define "content" }}
    <h2>Detail campaign</h2>

    <div class="card mb-4">
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" disabled value="{{ .Name }}" name="name" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label for="short_description">Short description</label>
                  <input type="text" disabled value="{{ .ShortDescription }}" name="short_description" class="form-control" id="short_description" placeholder="Enter Short Description">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea disabled class="form-control" placeholder="Enter Description" name="description" id="description" cols="30" rows="10">{{ .Description }}</textarea>
                </div>
                <div class="form-group">
                  <label for="goal_amount">Goal amount</label>
                  <input type="text" disabled value="{{ .GoalAmountFormatIDR }}" name="goal_amount" class="form-control" id="goal_amount" placeholder="Enter goal amount">
                </div>
                <div class="form-group">
                  <label for="perks">Perks</label>
                  <input type="text" disabled value="{{ .Perks }}" name="perks" class="form-control" id="perks" placeholder="Enter perks">
                </div>
                <div class="form-group">
                  <label for="current_amount">Current amount</label>
                  <input type="text" disabled value="{{ .CurrentAmountFormatIDR }}" name="current_amount" class="form-control" id="current_amount" placeholder="Enter current amount">
                </div>
              </form>
        </div>
    </div>
{{ end }}
